@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--Poppins-font);

}
:root {
    --black-color:#000000;
    --dark-color: #191919;
    --white-color: #FFFFFF;
    --Red-color: #A40101;
    --blue-color: #2CA3AB;
    --gray-color: #C4C4C4;
    --DarkGray-color:#444444;
    --Orange-color: #F3610E;
    --DarkOrange-color: #CA5714;
    --blueinputs-color:#E9F6F7;
    --LightBlue-color:#A8DDE0;
    --darkBlue-color: #161624;
    --Bluebuttoms-color: #1D1B45;
    --blueindexbutttoms-color:#0E5883;
    --Poppins-font: 'Poppins', sans-serif;
}



/*css for Index.html*/
    
    /*Heder index.html*/
#heder-index{
    border-top: 1rem solid var(--DarkGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heder-index-container{
    display: flex;
    justify-content: center;
    width: 80%;
}

.index-head-right{
    width: 70%;
    float: right;
    display: flex;
    flex-direction: column;
}

.index-head-top{
    width: 80;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.head-phone, .head-ubication{
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
    
}

.head-phone a, .head-ubication a{
    color: var(--dark-color);
    text-decoration: none;
}

.head-ubication{
    margin: 10px 100px 10px 20px ;
}

.button-log-iniciar{
    background-color: var(--blueindexbutttoms-color);
    color: var(--white-color);
    border-radius: 9px;
    padding: 10px;
    
    text-decoration: none;
}

.index-head-bottom{
    background-image: url(../img/1.\ linea.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: 50%;
    color: var(--DarkOrange-color);
    height: 80px;
    
}

.index-head-bottom img{
    width: 50px;
    display: flex;
    align-items: flex-start;
}

.index-head-left{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    float: left;
    width: 30%;
}

    /*Banner*/
.banner{
    position: relative;
    margin-bottom: 0px;
}

.banner img{
    width: 100%;
}

.banner h2{
    color: var(--Orange-color);
    font-size: 50px;
    font-weight: 400;
}

.banner h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: 400;
}

.text-banner-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%; left: 80px;
}

#barra-forja{
    margin-top: -4px;
    margin-bottom: -4px;
    width: 100%;
}

/*articulos*/
        /*contenedor*/
#information-index{
    background-image: url(../img/covid-backgroung.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position-x: -1px  ;
    background-position-y: -180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;    
}

.tittle-information-1, .tittle-information-2{
    display: flex;
    align-items: center;
    color: var(--blueindexbutttoms-color);
}

.tittle-information-1 h2, .tittle-information-2 h2{
    font-size: 25px;
    font-weight: 500;
}

.tittle-information-1{
    margin-bottom: 0px;
}

.tittle-information-1 img{
    width: 50px;
}

.tittle-information-2 img{
    width: 60px;
    padding-bottom: 10;
}

        /*izquierda*/
.information-left{
    width: 50%;
    height: 294px;
    float: left;
    display: flex;
    justify-content: center;
}

.sintomas-index {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.sintomas-index ul{
    list-style-image: url(../img/6.\ check.svg);
    font-weight: 200;
    
}

        /*Derecha*/
.information-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
}

.hacer-index p{
    font-size: 19px;
    font-weight: 200;
    margin-top: 10px;
}

.article-2{
    width: 66%;
}

.oms-curso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oms-curso img{
    width: 100px;
}

.oms-curso a{
    text-decoration: none;
    color: var(--blueindexbutttoms-color);
    font-weight: 500;
    margin-bottom: 10px
}

/*other information*/
#other-information-index{
    display: flex;
    flex-direction: column;
}

.other-information-1, .other-information-2, .other-information-3, .other-information-4, .other-information-5{
    text-decoration: none;
    background-color: var(--darkBlue-color);
    color: var(--white-color);
    width: 100%;    
    padding: 10px 0 10px 5px;
}

.other-information-2, .other-information-3, .other-information-4, .other-information-5{
    border-top: var(--DarkGray-color) solid 10px;
}

/*footer*/
#footer-index{
    display: flex;
    justify-content: center;
    padding: 10px 0 30px 0px;
    background-color: var(--black-color);
    
}

#footer-index h6{
    color: var(--white-color);
    font-weight: 300;
}





/*css for login.html*/

#login {
    background-image: url(../img/10.png);
    background-size: 120%;
    background-position-x: -120px  ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97%;
    width: 98%;
    position: absolute;
}

#container-login{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.button-login-vol{
    display: flex;
    justify-content: flex-end;
}

.log-login{
    height: 900%;
}

.forja-login{
    background-color:var(--LightBlue-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.forja-login h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: larger;
}

.datos-login{
    background-color: var(--white-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.login-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-group input{
    background-color: var(--blueinputs-color);
    margin-top: 5px;
    border-radius: 19px;
    height: 30px;
    border: 2px solid var(--LightBlue-color);
}

.button-login-ing{
    text-align: center;
}

.button-log-volver, .button-log-ingresar{
    font-family: var(--Poppins-font);
    color: var(--white-color);
    border: var(--blue-color) 2px solid;
    border-radius: 7px;
    text-decoration: none;
}

.button-log-volver{
    background-color: var(--Bluebuttoms-color);
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}

.button-log-ingresar{
    background-color: var(--DarkOrange-color);
    padding: 5px 40px 5px 40px;
}

.forgot, .login-label{
    color: var(--dark-color);
    font-weight: 500;
}





/*css for Dashboard.html*/

#dashboard {
    height: 100%;
    width: 100%;
    margin: 0;
}

/*lado izquierdo*/
#menu {
    float: left;


    width: 20%;
    /*border: 1px solid #2CA3AB;*/
    background-color: var(--darkBlue-color);


    height: 100%;
    position: absolute;


}

.logo-menu-db {
    text-align: center;
    position: relative;
    top: 16%;
}

.logo-menu-db img {
    max-width: 200px;

}

.container-buttons-db {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100px;
    text-align: center;
    position: relative;
    top: 40%;
}

.buttons--db {
    text-align: center;
    font-family: var(--Poppins-font);
    font-weight: 600;

}

.buttons--db a {
    background-color: var(--gray-color);
    border: var(--DarkOrange-color) solid 4px;
    border-radius: 9px;
    color: var(--dark-color);
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;

}

/*lado derecho*/
#bienvenidos {
    position: absolute;
    right: 0px;
    float: right;
    width: 80%;
    height: 100%;



    background-image: linear-gradient(rgba(255, 255, 255, 0.658), rgba(255, 255, 255, 0.658)), url(../img/13.\ guerreros.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 95%;
}

/*usuario*/
.container-button-user-db {
    display: flex;
    justify-content: end;
}

.button-user-db {
    display: flex;
    align-items: center;
    max-width: 33%;
    min-width: 33px;
    background-color: var(--gray-color);
    border-radius: 19px;
    margin: 5px 6px 0px 0px;
}

.button-user-db a {
    border-radius: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    border: 5px solid var(--Orange-color);
    background-color: var(--white-color);
    cursor: hand;
    margin: 10px 10px 10px 10px;
}

.button-user-db h4 {
    font-family: var(--Poppins-font);
    font-weight: 100;
    margin: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*titulo Bienvenidos*/
.text-bienve-db h1 {
    color: var(--DarkOrange-color);
    text-align: center;
    font-family: var(--Poppins-font);
    font-weight: 600;
    margin: 50px 0px 70px 0px;
}

/*Digite documento*/
.container-digite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;

    margin-bottom: 20px;
    /*border: #df6704 solid 10px;*/
}

.digite-input {
    width: 300px;
    margin-right: 10px;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 2px solid var(--Bluebuttoms-color);
}

::placeholder {
    font-family: var(--Poppins-font);
}

.botones-db a {
    color: var(--white-color);
    background-color: var(--Bluebuttoms-color);
    border: var(--blue-color) 3px solid;
    padding: 4px 10px 4px 10px;
    border-radius: 9px;
    margin-right: 4px;
}

/*Barra forja*/
.footer-db {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}





/*css for Dashboard-user.html*/

#dashboard-user{
    background-image: url(../img/dashboard.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97%;
    width: 98%;
    position: absolute;
}

.dashuser-container{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.dashuser-logo{
    background-color: var(--white-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
}

.dashuser-text {
    background-color: var(--white-color);
    text-align: center;
    width: 100%;
    height: 35%;
}

.dashuser-text h2{
    font-weight: 400;
}

.dashuser-buttons{
    display: flex;
    background-color: var(--white-color);
    width: 100%;
    height: 20%;
    justify-content: center;
    border-radius:  0 0 10px 10px;
}


.button-dashuser1{
    background-color: var(--DarkOrange-color);
    padding: 5px 20px 5px 20px;
    color: var(--white-color);
    border: var(--blue-color) 2px solid;
    border-radius: 7px;
    text-decoration: none;
    margin-bottom: 25px;
    margin: 0 5px 25px 0;
}

.button-dashuser2{
    background-color: var(--blueindexbutttoms-color);
    padding: 5px 20px 5px 20px;
    color: var(--white-color);
    border: var(--blue-color) 2px solid;
    border-radius: 7px;
    text-decoration: none;
    margin-bottom: 25px;
    margin: 0 0 25px 5px;
}